@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: black;

  --line: oklab(0.556 0 0 / 0.5);
}

#root,
html,
body {
  margin: 0;
}

.lexend-400 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-500 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lexend-600 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@keyframes shrink {
  0% {
    opacity: 0;
    transform: scaleX(1);
  }
  5% {
    opacity: 0;
    transform: scaleX(0.95);
  }
  10% {
    opacity: 1;
    transform: scaleX(0.9);
  }

  100% {
    opacity: 1;
    transform: scaleX(0);
  }
}

.hero {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  background-image: url("/kohala-aerial.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.backdrop {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  background: var(--bg-backdrop);
  z-index: -1;
}
